body {
  font-family: Arial, sans-serif;
  text-align: center;
  cursor: url("https://w7.pngwing.com/pngs/608/605/png-transparent-monkey-d-luffy-illustration-monkey-d-luffy-goku-nami-tony-tony-chopper-chibi-luffy-hand-boy-piracy-thumbnail.png"),
    auto;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/965/883/624/manga-one-piece-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  text-align: center;
}
/*img.fondecran {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}*/

/*@media screen and (max-width: 1024px) {
  img.fondecran {
    left: 50%;
    margin-left: -512px;
  }
}*/

#Welcome {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,
h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: gainsboro;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 20px auto;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 2px solid gray;
  cursor: pointer;
}

#message {
  font-size: 18px;
  font-weight: bold;
  color: red;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

#game {
  display: none;
}

.highlight {
  background-color: blue;
}

.player {
  background-color: chartreuse;
}
